{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load admin_link %}
{% load static %}
{% load dt_content %}
{% load image_blurb %}

{% block head %}
  <title>Django Template</title>
  <link rel="stylesheet" href="{% static 'dt_content/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
{% endblock head %}

{% block body %}

  {% include 'core/navbar.html' %}

  <div class="header header">
    {% image_blurb 'index/background' placeholder='core/img/background.jpg' as image_blurb %}
    <div class="header-background" style="background-image: url('{{ image_blurb.src }}')">
    </div>
    <div class="header-tint"></div>
    <div class="header-content">
      <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="hero-title">실전창업교육 API 데모</div>
      </div>
    </div>
  </div>

  <div class="container my-3">
    {% include image_blurb.update_link_template_name %}
  </div>

  <div class="content">
    <div class="container py-5">
      <h1>안녕하세요!</h1>

      <h2>기능 1. 인적 조회</h2>
      <a class="btn btn-primary mb-3" href="{% url 'core:basic' %}">
        시작
        <i class="fas fa-chevron-right ml-2"></i>
      </a>

      <h2>기능 2. 사진 분류</h2>
      <a class="btn btn-primary" href="{% url 'core:classification' %}">
        시작
        <i class="fas fa-chevron-right ml-2"></i>
      </a>
    </div>
  </div>

  {% include 'core/footer.html' %}

{% endblock body %}
{% block body_script %}
{% endblock body_script %}
